

main .content {
    display: flex;
    justify-content: center;
    padding: 50px 10%;}

main .video_area {
    margin: 10px ;}

main .form_area form {
    
    justify-content: center;
    width: 100%;}
 main .form_area {
 
    background-color: rgb(243, 243, 243);
    margin: 10px;
    width: 40%;
    text-align: center;
    padding: 0% 3%;
    border-radius: 3px;}



main .form_area input {
    margin-bottom: 20px;
    padding: 6px 15px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background-color:rgb(228, 228, 228);
    font-family: Helvetica;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    border: 1px solid gray}

main #button {
    text-transform: uppercase;
    font-weight: 300;
    background-color: rgb(8, 114, 8);
    color: white;
    border: 1px solid black}

main #button:hover {
    cursor: pointer;
    border: 2px solid black;
}